{% extends "global/Page.html" %}
{% load otree %}

{{ block content }}
<p>At the end of the study, the system will randomly select one of your choices in all of the 3 parts to pay for your
  additional payment. If the selected choice is an uncertain payment, it will be realized by the system, based on the
  given consequences and probabilities.</p>

<p>As each choice has a chance of being chosen to determine your payment, therefore, it is of your interest to make
  each decision carefully and choose the option that you prefer to receive.</p>

<p>Before your start, you will answer 3 understanding testing questions. You will not be allowed to participate in our
  experiment if you make any mistake.</p>
{{ next_button }}
{{ endblock }}