{% extends "global/UnderstandingTesting.html" %}
{% load otree %}

{{ block title }}
Understanding Testing 3
{{ endblock }}

{{ block content }}

<div class="qn-container">
  <div class="options">
    <div class="option">
      <table>
        <tr>
          <td style="text-align: right;">0</td>
          <td> with probability </td>
          <td>0.1</td>
        </tr>
        <tr>
          <td style="text-align: right;">100</td>
          <td> with probability </td>
          <td>0.4</td>
        </tr>
        <tr>
          <td style="text-align: right;">200</td>
          <td> with probability </td>
          <td>0.5</td>
        </tr>
      </table>
    </div>
    <div class="option">
      <table>
        <tr>
          <td>150 with certainty</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="qn-btns">
    <div class="qn-btn-container">
      <div class="qn-btn">A</div>
    </div>
    <div class="qn-btn-container">
      <div class="qn-btn">B</div>
    </div>
  </div>
</div>

<p>Which <b>two</b> of the following statements are true for this example? Noted that 100 points = 1 USD.</p>

<form id="form">
  <input type="checkbox" id="choice0">
  <label for="choice0">If I choose Option A, I am more likely to earn 0 point than to earn 200 points.</label><br>
  <input type="checkbox" id="choice1">
  <label for="choice1">If I choose Option A, I will gain 200 points with probability 0.5, that is, I will gain 2 USD
    with probability 0.5.</label><br>
  <input type="checkbox" id="choice2">
  <label for="choice2">If I choose Option B, I may gain 0 point.</label><br>
  <input type="checkbox" id="choice3">
  <label for="choice3">If I choose Option B, I will gain 150 points for sure, which is 1.5 USD.</label><br>
</form>
{{ next_button }}
{{ endblock }}

{{ block script }}
<script>
  addFormValidation([false, true, false, true])
</script>
{{ endblock }}