{% extends "global/Page.html" %}
{% load otree %}

{% block understanding_testing_styles %}
<style>
  .qn-container {
    margin-bottom: 2rem;
  }
</style>
{% endblock %}

{% block understanding_testing_scripts %}
<script>
  const form = document.getElementById("form");
  const choice0 = document.getElementById("choice0");
  const choice1 = document.getElementById("choice1");
  const choice2 = document.getElementById("choice2");
  const choice3 = document.getElementById("choice3");
  const nextButton = document.querySelector('.otree-btn-next');

  function insertAfter(newNode, referenceNode) {
    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
  }

  function createWarning() {
    const warning = document.createElement("p");
    warning.innerText = "Your answer is not correct. Please try again.";
    warning.style.color = "red";
    return warning;
  }

  function showWarning() {
    insertAfter(createWarning(), form);
  }

  if (js_vars.qn_status === "fail_1") {
    showWarning();
  }

  function getChoices() {
    return [choice0.checked, choice1.checked, choice2.checked, choice3.checked];
  }

  form.addEventListener("submit", (evt) => {
    evt.preventDefault();

    if (js_vars.qn_status === "fail_2") {
      form.submit();
    }

    choices = getChoices();
    liveSend({ choices });
  });

  function liveRecv(data) {
    if (!data.success) {

    } else {
      if (data.status === "pass") {
        form.submit();
      } else if (data.status === "fail_1") {
        js_vars.qn_status = "fail_1";
        showWarning();
        nextButton.disabled = true;
      } else if (data.status === "fail_2") {
        form.submit();
      } else {

      }
    }
  }

  function countCheckedChoices() {
    return [choice0, choice1, choice2, choice3].reduce((prev, cur) => prev + cur.checked, 0);
  }

  function handleChoiceChange() {
    nextButton.disabled = countCheckedChoices() != 2;
  }

  [choice0, choice1, choice2, choice3].forEach((c) => c.addEventListener('change', handleChoiceChange));
  handleChoiceChange()


</script>
{% endblock %}