{% extends "global/Page.html" %}
{% load otree %}

{{ block style }}
<style>
  #ul {
    margin-top: 2rem;
  }
</style>
{{ endblock }}

{{ block content }}
<p>SUPPOSE there are 10 new decisions to make. There are two ways that you can make your decisions.</p>
<ul>
  <li>Make your own decisions without recommendations. That is, you will make each decision by yourself without
    receiving
    any recommendations.</li>
  <li>Completely follow the recommended decisions of the system. That is, the system will generate recommendations as
    in
    Part 2, and you will follow all the recommendations for these 10 decisions.</li>
</ul>

<p>Please choose between these two options.</p>
<div id="content">
  <div class="qn-container">
    <div class="options">
      <div id="left-option" class="option">
        <table>
          <tr>
            <td>Make my own decisions without recommendations.</td>
          </tr>
          <tr>
            <td id="left-option-value"></td>
          </tr>
        </table>
      </div>
      <div id="right-option" class="option">
        <table>
          <tr>
            <td>Follow the recommended decisions of the system.</td>
          </tr>
          <tr>
            <td id="right-option-value"></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="qn-btns">
      <div class="qn-btn-container">
        <div class="qn-btn" onclick="sendResponse(0)">A</div>
      </div>
      <div class="qn-btn-container">
        <div class="qn-btn" onclick="sendResponse(1)">B</div>
      </div>
    </div>
  </div>
</div>
{{ endblock }}

{{ block script }}
<script>
  function sendResponse(response) {
    liveSend({ response });
  }

  function liveRecv(data) {
    if (data) {
      document.getElementById("form").submit();
    }
  }
</script>
{{ endblock }}