{% extends "global/McqWithOtherOption.html" %}
{% load otree %}

{{ block content }}
<p>What is your race?</p>
<form id="form">
  <input type="radio" id="choice0" name="fieldname" value="Protestant" />
  <label for="choice0">Protestant</label><br />

  <input type="radio" id="choice1" name="fieldname" value="Catholic" />
  <label for="choice1">Catholic</label><br />

  <input type="radio" id="choice2" name="fieldname" value="Jewish" />
  <label for="choice2">Jewish</label><br />

  <input type="radio" id="choice3" name="fieldname" value="Islamic" />
  <label for="choice3">Islamic</label><br />

  <input type="radio" id="choice4" name="fieldname" value="Buddhism" />
  <label for="choice4">Buddhism</label><br />

  <input type="radio" id="choice5" name="fieldname" value="None" />
  <label for="choice5">None</label><br />

  <input type="radio" id="other" name="fieldname" value="Other" />
  <label for="other" value="Other">Other</label>
  <input type="text" id="other-textfield" /><br />
</form>
<button id="btn" class="otree-btn-next btn btn-primary">Next</button>
{{ endblock }}