{{ block title }}
    Binary choice question
{{ endblock }}
{{ block content }}

    <div id="loading">...loading</div>
    <div id="content" style="display: none">
        <div id="qn-container">
            <div id="options">
                <div id="optionA" class="option">
                    <input type="radio" id="optionA-input">
                    <label for="optionA-input"></label>
                    <div class="rec" style="display: none;">
                        This option is recommended for you
                    </div>
                </div>
                <div id="optionB" class="option">
                    <input type="radio" id="optionB-input">
                    <label for="optionB-input"></label>
                    <div class="rec" style="display: none;">
                        This option is recommended for you
                    </div>
                </div>
            </div>
            <button type="button" onclick="submitChoice()">Submit</button>
        </div>
    </div>

    
    <style>
        #qn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #options {
            display: flex;
            padding-bottom: 1rem;
        }
        
        .option {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20rem;
        }

        .rec {
            text-align: center;
        }
    </style>
    
    <script>
        let start_timestamp_ms, end_timestamp_ms;
        const loading = document.getElementById("loading");
        const content = document.getElementById("content");
        const optionA = document.getElementById("optionA");
        const optionB = document.getElementById("optionB");
        const optionAInput = document.getElementById("optionA-input");
        const optionBInput = document.getElementById("optionB-input");
        const optionALable = optionA.querySelector("label");
        const optionBLable = optionB.querySelector("label");
        const optionARec = optionA.querySelector(".rec")
        const optionBRec = optionB.querySelector(".rec");
    
        function show(elem) {
            elem.style.display = "block";
        }
    
        function hide(elem) {
            elem.style.display = "none";
        }
    
        function sendResponse(response) {
            end_timestamp_ms = Date.now();
            show(loading);
            hide(content);
            hide(optionARec);
            hide(optionBRec)
            liveSend({
                response, 
                start_timestamp_ms,
                end_timestamp_ms
            })
        }
    
        function liveRecv(data) {
            if (data.is_finished) {
                document.getElementById("form").submit();
            } else {
                optionALable.innerHTML = data.optionA;
                optionBLable.innerHTML = data.optionB;
                if (data.rec === true) {
                    show(optionBRec);
                } else if (data.rec === false) {
                    show(optionARec);
                }
                start_timestamp_ms = Date.now();
                show(content);
                hide(loading);
            }
        }
    
        function submitChoice() {
            if (optionAInput.checked) {
                sendResponse(0);
                optionAInput.checked = false;
            } else if (optionBInput.checked) {
                sendResponse(1);
                optionBInput.checked = false;
            }
        }
    
        document.addEventListener("DOMContentLoaded", function() {
            liveSend({});
        })
    
    </script>

{{ endblock }}
