{{ block title }}
    Please choose Option A or B.
{{ endblock }}
{{ block content }}

    <div id="loading">...loading</div>
    <div id="content" style="display: none">
        <div id="qn-container">
            <div id="options">
                <div id="left-option" class="option">
                    <table></table>
                    <!-- <div class="rec" style="display: none;">
                        This option is recommended for you
                    </div> -->
                </div>
                <div id="right-option" class="option">
                    <table></table>
                    <!-- <div class="rec" style="display: none;">
                        This option is recommended for you
                    </div> -->
                </div>
            </div>
            <div id="buttons">
                <div class="button-container">
                    <div class="button" onclick="sendResponse('L')">A</div>
                </div>
                <div class="button-container">
                    <div class="button" onclick="sendResponse('R')">B</div>
                </div>
            </div>
        </div>
    </div>

    
    <style>
        #content {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #qn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 40rem;
        }

        #options {
            display: flex;
            padding-bottom: 1rem;
        }
        
        .option {
            width: 20rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .rec {
            text-align: center;
        }

        #buttons {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #buttons .button-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button {
            background-color: lightgrey;
            border: solid grey;
            height: 3rem;
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .button:hover {
            cursor: pointer;
        }

    </style>
    
    <script>
        let start_timestamp_ms, end_timestamp_ms;
        const loading = document.getElementById("loading");
        const content = document.getElementById("content");
        const leftOption = document.getElementById("left-option");
        const rightOption = document.getElementById("right-option");
        const leftOptionTable = leftOption.querySelector("table")
        const rightOptionTable = rightOption.querySelector("table")
        const leftOptionRec = leftOption.querySelector(".rec")
        const rightOptionRec = rightOption.querySelector(".rec");
    
        function show(elem) {
            elem.style.display = "flex";
        }
    
        function hide(elem) {
            elem.style.display = "none";
        }
    
        function sendResponse(button) {
            end_timestamp_ms = Date.now();
            show(loading);
            hide(content);
            // hide(leftOptionRec);
            // hide(rightOptionRec)
            liveSend({
                button, 
                start_timestamp_ms,
                end_timestamp_ms
            })
        }
    
        function liveRecv(data) {
            if (data.is_finished) {
                document.getElementById("form").submit();
            } else {
                updateTable(leftOptionTable, data.left_option)
                updateTable(rightOptionTable, data.right_option)
                // if (data.rec === true) {
                //     show(rightOptionRec);
                // } else if (data.rec === false) {
                //     show(leftOptionRec);
                // }
                start_timestamp_ms = Date.now();
                show(content);
                hide(loading);
            }
        }
    
        document.addEventListener("DOMContentLoaded", function() {
            liveSend({});
        })

        function updateTable(table, data) {
            table.innerHTML = "";
            if (data.length === 1 && data[0].p === 1) {
                table.insertRow()
                    .insertCell()
                    .appendChild(document.createTextNode(`${data[0].oc} with certainty`));
            } else {
                for (const dataRow of data) {
                    const row = table.insertRow();
                    ocCell = row.insertCell()
                    ocCell.appendChild(document.createTextNode(dataRow.oc))
                    ocCell.style.textAlign = "right"
                    row.insertCell()
                        .appendChild(document.createTextNode(" with probability "))
                    row.insertCell()
                        .appendChild(document.createTextNode(dataRow.p))
                }
            }
        }
    
    </script>

{{ endblock }}
