{% extends "global/Page.html" %}
{% load otree %}

{{ block content }}
{{ if participant.treatment == "NoR" }}
<p>In Part 2, there are 60 questions. Similar to Part 1, you will be asked to choose between two options in each
  question.</p>
{{ elif participant.treatment == "R_Random" }}
<p>In Part 2, there are 60 questions. Similar to Part 1, you will be asked to choose between two options in each
  question.</p>
<p>The difference in Part 2 is that <b>you will receive a recommendation in each question</b>.</p>
<p><b>The recommendation is generated randomly.</b></p>
<ul>
  <li>For each question, the system will randomly pick one out of the two options and recommend the option to you.
  </li>
  <li>It is entirely up to you whether you want to follow or not to follow the recommendation for each question.</li>
</ul>
{{ elif participant.treatment == "R_Maj" }}
<p>In Part 2, there are 60 questions. Similar to Part 1, you will be asked to choose between two options in each
  question.</p>
<p>The difference in Part 2 is that <b>you will receive a recommendation in each question</b>.</p>
<p><b>The recommendation is based on the most popular choices in a previous study.</b></p>
<ul>
  <li>In a previous study, we recruited a US representative sample from Prolific and asked participants to answer the
    same
    questions as in the current study.
  </li>
  <li>For each question, the system will pick the option that most participants chose in the previous study and
    recommend it
    to
    you.</li>
  <li>It is entirely up to you whether you want to follow or not to follow the recommendation for each question.</li>
</ul>
{{ elif participant.treatment == "R_CF" }}
<p>In Part 2, there are 60 questions. Similar to Part 1, you will be asked to choose between two options in each
  question.</p>
<p>The difference in Part 2 is that <b>you will receive a recommendation in each question</b>.</p>
<p><b>The recommendation is based on decisions from participants who are similar to you.</b></p>
<ul>
  <li>In a previous study, we recruited a US representative sample from Prolific and asked participants to answer the
    same
    questions as in the current study.
  </li>
  <li>Based on your choices in Part 1, the system will identify a group of participants who had made similar decisions
    as
    you.</li>
  <li>For each question in Part 2, the system will recommend an option to you according to similar participants'
    decisions
    in this question.</li>
  <li>It is entirely up to you whether you want to follow or not to follow the recommendation for each question.</li>
</ul>
{{ elif participant.treatment == "R_CBF" }}
<p>In Part 2, there are 60 questions. Similar to Part 1, you will be asked to choose between two options in each
  question.</p>
<p>The difference in Part 2 is that <b>you will receive a recommendation in each question</b>.</p>
<p><b>The recommendation is generated based on how you made your decisions in Part 1.</b></p>
<ul>
  <li>Based on your choices in Part 1, the system detects some features that are important to you when you made the
    decisions.
  </li>
  <li>For each question in Part 2, the system will base on these important features and recommend an option to you.
  </li>
  <li>It is entirely up to you whether you want to follow or not to follow the recommendation for each question.</li>
</ul>
{{ endif }}

{{ if participant.treatment != "NoR" }}
<p>Here is an example:</p>

<div class="qn-container">
  <div class="options">
    <div class="option">
      <table>
        <tr>
          <td>50 with certainty</td>
        </tr>
      </table>
    </div>
    <div class="option">
      <table>
        <tr>
          <td style="text-align: right;">0</td>
          <td> with probability </td>
          <td>0.5</td>
        </tr>
        <tr>
          <td style="text-align: right;">100</td>
          <td> with probability </td>
          <td>0.5</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="qn-btns">
    <div class="qn-btn-container">
      <div class="qn-btn">A</div>
    </div>
    <div class="qn-btn-container">
      <div class="qn-btn">B</div>
    </div>
  </div>
  <div id="rec-container">
    <div class="left rec">
      <div class="text">Recommended</div>
    </div>
    <div class="right rec">
      <div class="text" style="display: none;">Recommended</div>
    </div>
  </div>
</div>

<br />
<ul>
  <li>The option with the word “Recommended” is the option that the system recommends to you.</li>
</ul>

<p>Before your start Part 2, you will answer one understanding testing question. You can try multiple times but will
  only
  be able to proceed when you answer correctly.</p>
{{ endif }}

{{ next_button }}
{{ endblock }}