{% extends "global/Page.html" %}
{% load otree %}

{% block understanding_testing_styles %}
<style>
  .qn-container {
    margin-bottom: 2rem;
  }
</style>
{% endblock %}

{% block understanding_testing_scripts %}
<script>
  const form = document.getElementById("form");
  const choice0 = document.getElementById("choice0");
  const choice1 = document.getElementById("choice1");
  const choice2 = document.getElementById("choice2");
  const choice3 = document.getElementById("choice3");

  function addFormValidation(correctCheckedValues) {
    form.addEventListener("submit", () => {
      isCorrect = choice0.checked === correctCheckedValues[0] &&
        choice1.checked === correctCheckedValues[1] &&
        choice2.checked === correctCheckedValues[2] &&
        choice3.checked == correctCheckedValues[3];
      if (!isCorrect) {
        liveSend(0);
      }
    });
  }
</script>
{% endblock %}